@model InvoiceSystem.Entities.Invoice.Order


@{
    ViewData["Title"] = "Details";
}


<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4>جزئیات سفارش</h4>

        </div>
        <div class="card-content">
            <div class="px-3">
                <form asp-action="details" class="form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="BuyerId" class="control-label"></label>
                                    <select asp-for="BuyerId" class="form-control" asp-items="ViewBag.PersonId" disabled>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="SellerId" class="control-label"></label>
                                    <select asp-for="SellerId" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="OrderNumber" class="control-label"></label>
                                    <input asp-for="OrderNumber" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Total" class="control-label"></label>
                                    <input asp-for="Total" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Total_Discount" class="control-label"></label>
                                    <input asp-for="Total_Discount" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="TotalTax" class="control-label"></label>
                                    <input asp-for="TotalTax" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="TotalPay" class="control-label"></label>
                                    <input asp-for="TotalPay" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label asp-for="SystemId" class="control-label"></label>
                                    <input asp-for="SystemId" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="CheckedOut">
                                            @Html.DisplayNameFor(model => model.CheckedOut)
                                        </label>
                                            <input asp-for="CheckedOut" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                            @*/////////////////////////////////*@
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ردیف</th>
                                        <th>شرح کالا</th>
                                        <th>تعداد</th>
                                        <th>واحد</th>
                                        <th>مبلغ</th>
                                        <th>جمع کل</th>
                                        <th>تخفیف</th>
                                        <th>جمع کل پس از تخفیف</th>
                                        <th>مالیات</th>
                                        <th>جمع کل با مالیات</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderDetails)
                                    {
                                        <tr>
                                            <td>@(Model.OrderDetails.ToList().IndexOf(item)+1)</td>
                                            <td>@item.ProductName</td>
                                            <td>@item.ProductCount.ToString("N0")</td>
                                            <td>عدد</td>
                                            <td>@item.ProductPrice.ToString("N0")</td>
                                            <td>@((item.ProductCount * item.ProductPrice).ToString("N0"))</td>
                                            <td>@item.ProductDiscunt.ToString("N0")</td>
                                            <td>@(((item.ProductCount * item.ProductPrice)-item.ProductDiscunt).ToString("N0"))</td>
                                            <td>@((((item.ProductCount * item.ProductPrice)-item.ProductDiscunt)*9/100).ToString("N0"))</td>
                                            <td>@((((item.ProductCount * item.ProductPrice)-item.ProductDiscunt)+(((item.ProductCount * item.ProductPrice)-item.ProductDiscunt)*9/100)).ToString("N0"))</td>
                                        </tr>
                                    }





                                </tbody>


                                <tfoot>
                                        <tr>
                                            <td colspan="5">جمع کل:</td>
                                            <td>@(Model.OrderDetails.Sum(item=> item.ProductCount * item.ProductPrice).ToString("N0"))</td>
                                            <td>@(Model.OrderDetails.Sum(item=> item.ProductDiscunt).ToString("N0"))</td>
                                            <td>@(Model.OrderDetails.Sum(item=> (item.ProductCount * item.ProductPrice) - item.ProductDiscunt).ToString("N0"))</td>
                                            <td>@(Model.OrderDetails.Sum(item=> ((item.ProductCount * item.ProductPrice) - item.ProductDiscunt) * 9 / 100).ToString("N0"))</td>
                                            <td>@(Model.OrderDetails.Sum(item=> (((item.ProductCount * item.ProductPrice) - item.ProductDiscunt) + (((item.ProductCount * item.ProductPrice) - item.ProductDiscunt) * 9 / 100))).ToString("N0"))</td>
                                        </tr>
                                    </tfoot>
                            </table>
                            @*////////////////////////////////////////////*@

                        <div class="form-actions right">
                            <a asp-action="CopyAndCreate" asp-route-id="@Model.Id" class="btn btn-raised btn-primary "><i class="fa fa-edit"></i> دوبل کردن</a>
                            <a asp-action="Index" class="btn btn-raised btn-warning"><i class="ft-x"></i>بازگشت</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
